* {
  font-size: 14px;
}

.contentWidth {
  width:90%;
  margin: 0 auto;
}

.skills .skill-wrapper .each-skill dd{
  display: block;
  .skill-img{
    max-width: 300px;
  }
}

.skill-img img {
  width: 100%;
;
}


.info-left{
  .table{
    td{
      font-size: 10px;
    }
  }
}

.info-right {
  ul li{
    font-size: 10px 
  }
  
}
