*{
  font-size: 16px;
}

.responsive-flex{
  flex-direction: column;
}



.navMenu{
  ul{
    float:none;
    justify-content: space-around;
    
  }
  ul li a{
    font-size: 18px;
  }
}

.work-img{
  height: 300px;
  img{
    height: 300px;
  }
}

.section-heading{
  font-size: 1.5rem;
}

.skill-description{
  width: 100%;
  margin: 20px auto;
  line-height: 35px;
  font-size: larger;
}
.skill-img{
  padding:0;
  margin: auto;
  img{
    // height: 300px;
    width: 300px;
  }
}
.skill-name{
  span{
    text-align: center;
    display: block;
  }
}

header{
  display: block;
  height: 100%;
  .header-img{
    height: 200px;
  }
}
