@import "includes";
@import "example";
@import url("https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Roboto:ital,wght@1,100;1,300;1,400;1,500&display=swap");

// @media (min-width: 960px) {
//   @import "breakpoints/960up";
// }

// @media (min-width: 1280px) {
//   @import "breakpoints/1280up";
// }

* {
  font-family: "Hina Mincho", serif;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  font-size: 20px;
  color: $BaseCol;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
  text-align: center;
  &::before {
    margin-right: 20px;
  }
  color: $ColorBase;
  text-decoration: none;
  &:hover {
    opacity: 0.7;
  }
}

//extends-----------------
.center {
  width: 100%;
  margin: 0 auto;
}
.contentWidth {
  width: 70%;
  margin: 0 5% auto;
}

.marginTop {
  margin-top: 100px;
}
.marginBottom {
  margin-bottom: 100px;
}

.responsive-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sub-title {
  color: rgb(122, 121, 121);
}

.mainCopy {
  text-align: center;
}

//extends_end-----------------

#nav_top {
  opacity: 0.7;
  cursor: pointer;
  text-align: center;
  position: fixed;
  bottom: 5%;
  right: 10%;
  border-radius: 3px;
  font-size: 1.2rem;
  z-index: 50;
}

header {
  padding: 0;
  height: 300px;
  display: flex;

  .header-img {
    flex-basis: 65%;
    background-image: url(img/header.png);
    background-size: cover;
    background-position: left;
  }
  .mainCopy {
    flex-basis: 35%;
    padding: 30px;
    h1 {
      text-align: left;
      font-size: 2.5rem;
      margin: 0;
      span {
        display: block;
        color: darkgrey;
        text-align: right;
        font-size: 1.8rem;
        font-weight: lighter;
        margin: 0;
      }
    }
  }
}

.navMenu {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba($color: white, $alpha: 0.7);
  z-index: 10;
  ul {
    float: right;
    padding: 0;
    margin: 10px;
    display: flex;
    flex-direction: row;
    li {
      padding-bottom: 10px;
      padding-left: 20px;
      a {
        font-size: 25px;
        font-weight: bold;
        &:hover {
          color: red;
        }
      }
    }
  }
}
#global-container {
  overflow: hidden;
}

#container {
  @extend .contentWidth;
  margin: auto;
}

.section-heading {
  position: relative;
  overflow: hidden;

  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  background-color: $BaseCol;
  color: white;
  margin: 50px auto;
  transform: skewX(20deg);
  span {
    margin-left: 20px;
    color: darkgrey;
    font-size: 1.5rem;
  }
  &.inview {
    &::before {
      content: "";
      position: absolute;
      width: 50%;
      height: 100%;
      background-color: rgba($color: white, $alpha: 0.5);
      animation: "left_float" 1.5s 0s forwards ease-in-out;
      animation-iteration-count: 2;
      @keyframes left_float {
        0% {
          transform: translateX(-200%);
        }
        100% {
          transform: translateX(200%);
        }
      }
    }
  }
}

.works {
  p {
    text-align: center;
  }

  .works-slide {
    ul {
      overflow: hidden;
      display: flex;
      li {
        width: 240px;
        padding: 10px;
        animation-name: loop-slide;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-fill-mode: both;

        @keyframes loop-slide {
          from {
            transform: translateX(0);
          }
          to {
            transform: translateX(-100%);
          }
        }
      }
    }
  }

  .works-wrapper {
    margin: 0 auto;
    text-align: center;
    li {
      flex-basis: 50%;
      border: 1px solid darkgrey;
      padding: 2%;
      margin: auto;
      margin-bottom: 30px ;
      overflow: hidden;
        max-width: 750px;
      .cp_btn {
        margin: 30px auto;
        width: 100px;
      }

      a {
        margin: 0 auto;
        padding: 0;
        .work-img {
          position: relative;
          overflow: hidden;
          max-height: 550px;
          max-width: 750px;
          // border: 1px double darkgrey;
          margin: 0 auto;
          box-shadow: 10px 10px 10px darkgrey;

          &:hover {
            opacity: 0.7;
            transition: 0.3s;
          }
          img {
            padding: 4px;
            vertical-align: middle;
            display: inline;
          }
          h3 {
            display: inline;
            width: 100%;
            top: 0;
            left: 0;
            position: absolute;
            font-size: 1.5rem;
            background-color: $CProfile;
            color: white;
            font-weight: bold;
            margin: 0;
            opacity: 0;
            z-index: 10;
          }
        }
        .box {
          display: none;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          position: absolute;
          top: 0;
          left: 0;
        }
        p {
          padding: 0 20px;
          font-size: 0.8rem;
          // text-align: left;
        }

        //<a>がホバーした時
        &.inview {
          .work-img {
            img {
              transform: scale(1.2);
              transition: 0.7s;
            }
            h3 {
              animation-name: left_to_right;
              animation-delay: 0.7s;
              animation-duration: 1.5s;
              animation-timing-function: ease-out;
              animation-fill-mode: both;

              @keyframes left_to_right {
                from {
                  opacity: 1;
                  transform: translateX(-100%);
                }
                40% {
                  transform: translateX(50%);
                }
                70% {
                  transform: translateX(0);
                }
                to {
                  opacity: 1;
                  top: 0;
                }
              }
            }
          }

          p {
            opacity: 0.7;
            cursor: pointer;
            font-size: 1rem;
            @for $i from 1 to 20 {
              span:nth-child(#{$i}) {
                color: red;
                display: inline-block;
                transition-delay: $i * 0.3s;
                transition-duration: 0.4s;
                transition-timing-function: ease-out;
                font-size: 1.2em;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}

.skills {
  .cp_btn {
    width: 200px;
    @extend .center;
  }
  .skill-wrapper {
    padding: 0;
    .each-skill {
      position: relative;
      &::after {
        content: "";
        //animation時に↓適応
        background-color: white;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 10;
      }

      //scrollObserverでinviewがついたときにアニメーションを行う
      @for $i from 1 to 10 {
        &.inview:nth-child(#{$i}) {
          &::after {
            animation: "leftOut" 1.5s ease-in-out;
            animation-fill-mode: forwards;
            @keyframes leftOut {
              // from{
              //   transform: translateX(-100%);
              // }
              to {
                transform: translateX(150%);
              }
            }
          }
        }
      }

      @extend .marginBottom;

      .skill-name {
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 2px solid darkgrey;
        font-weight: 900;
        span {
          color: #0062a0;
          font-size: 2rem;
          margin-right: 20px;
        }
      }

      dd {
        padding: 0;
        margin-left: 0;
        margin: 50px 0;
        @extend .responsive-flex;
        .skill-description {
          flex-basis: 55%;

          //javascriptの説明
          span {
            font-size: 1.5rem;
            cursor: pointer;
            color: #e5b700;
            font-weight: bold;
            display: block;
            height: 50px;
            margin: 30px 0;
            text-align: center;
          }
          .stick:hover {
            opacity: 0.7;
            transition-duration: 0.4s;
            transform: scale(2) rotate(10deg);
          }
          .vanish:hover {
            opacity: 0.1;
            transition-duration: 1s;
            transform: rotate(720deg);
          }
          .click:hover {
            opacity: 0.7;
            &::after {
              color: black;
              content: "Click!";
              margin-left: 20px;
            }
          }
          .click:active {
            &:after {
              content: "Thank You!";
              font-size: 50px;
              background-color: rgba(71, 94, 196, 0.5);
              border-radius: 10px;
              padding: 10px;
              position: absolute;
              color: $BaseCol;
              transform: rotate(30deg);
            }
          }
        }
        .skill-img {
          padding-left: 30px;
          flex-basis: 45%;
          img {
            box-shadow: 5px 5px 5px darkgrey;
            border-radius: 20px;
          }
        }
      }
      //GAS用
      .example {
        border: 1px solid black;
        li {
          @extend .marginBottom;
          list-style: decimal;
          li {
            list-style: square;
          }
        }
      }
    }
  }
}

.about {
  h3 {
    background-color: $CProfile;
    border-radius: 5px;
    box-shadow: 5px 5px 3px darkgrey;
    width: 150px;
    text-align: center;
    padding: 3px 15px;
  }
  .flex-box {
    @extend .responsive-flex;
  }
  .table {
    font-size: 15px;
    @extend .center;
    border-collapse: separate;
    border-spacing: 20px;

    tr {
      td {
        border-bottom: 2px solid darkgrey;
        &:nth-child(1) {
          text-align: center;
        }
      }
      td:nth-child(1) {
        width: 80px;
      }
    }
  }
  .info-right {
    margin: 0 auto;
    width: 100%;
    // @extend .responsive-flex;
    display: flex;
    .certification {
      flex-basis: 50%;
      width: 100%;
    }
    .hobby {
      flex-basis: 50%;
      width: 100%;
    }
  }
}

.contact {
  margin-bottom: 50px;
  dl {
    @extend .center;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    dt {
      width: 40%;
    }
    dd {
      width: 60%;
      margin: 0;
    }
  }
}
